
@model BaseMvcParalax.Models.Projects
<div class="ajax-container">
    <div class="row align-items-center py-4">

        <div class="col">
            @if (Model.before != null)
            {
                <a href="../Project/Index.cshtml/@Model.before.Id" data-ajax-portfolio-prev class="text-decoration-none d-block float-left">
                    <div class="d-flex align-items-center line-height-1">
                        <i class="fas fa-arrow-left text-dark text-4 mr-3"></i>
                        <div class="d-none d-sm-block line-height-1">

                            <span class="text-dark opacity-4 text-1">@Resources.Content.before</span>
                            <h4 class="font-weight-bold text-3 mb-0">@Model.before.Header</h4>


                        </div>
                    </div>
                </a>}
        </div>
        <div class="col">
            <div class="row">
                <div class="col-md-12 align-self-center p-static order-2 text-center">
                    <div class="overflow-hidden pb-2">
                        <h2 class="text-dark font-weight-bold text-7 mb-0">@Model.current.Header</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            @if (Model.next != null)
            {
                <a href="../Project/Index.cshtml/@Model.next.Id" data-ajax-portfolio-next class="text-decoration-none d-block float-right">
                    <div class="d-flex align-items-center text-right line-height-1">
                        <div class="d-none d-sm-block line-height-1">

                            <span class="text-dark opacity-4 text-1">@Resources.Content.after</span>
                            <h4 class="font-weight-bold text-3 mb-0">@Model.next.Header</h4>

                        </div>
                        <i class="fas fa-arrow-right text-dark text-4 ml-3"></i>
                    </div>
                </a>}
        </div>

    </div>

    <div class="row pb-4 mb-1">
        <div class="col-sm-12">
            <h2 class="text-color-dark font-weight-normal text-4 mb-0"> <strong class="font-weight-extra-bold">@Resources.Content.descp</strong></h2>
            <p>@Model.current.Description</p>

        </div>
    </div>
</div>