@model IEnumerable<BaseMvcParalax.SliderText>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.TopTitle = "Slider Text Alanı - Liste";
}


<h3>
    
    @Html.ActionLink("Yeni Ekle", "Create",null,null, new { @class = "btn btn-dark" })

</h3>
<div class="card-body">
    <table class="table table-bordered">
        <tr>
            <th>
                Ana Yazı
            </th>
            <th>
                Yazar
            </th>
            <th>
                Sıra
            </th>
            <th>
                Görünürlük
            </th>
            <th>
                Düzenle
            </th>
            <th>
                Detay
            </th>
            <th>
                Sil
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MainText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sort)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Visible)
                </td>
                <td>
                    @Html.ActionLink("Düzenle", "Edit", null, new { id = item.Id }, new { @class = "btn btn-primary" })
                </td>
                <td>
                    @Html.ActionLink("Detay", "Details", null, new { id = item.Id }, new { @class = "btn btn-info" })
                </td>
                <td>
                    @Html.ActionLink("Sil", "Delete", null, new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</div>